<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome|Billing System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <style>
#grad1 {
  background-image: linear-gradient(to right,yellow,white);
padding:40px;
}
#p1
{
text-align:center;
padding:30px;

}
</style>
</head>
<body id="grad1">
<h1 style="font:arial ;text-align:center"><b><i>Welcome To Billing System</i></b></h1>
<div id=p1>
<a href="/products" class="btn btn-info" style="text-align:center">Products List</a>
<a href="/createbill" class="btn btn-info" style="text-align:center">Create Bill</a>
</div>
</body>
</html>
